<div class="add-background">
  <% @exhibition.errors.full_messages.each do |message| %>
    <p class="text-danger"><strong><%= message %></strong></p>
  <% end %>
  <%= form_for @exhibition, html: { multipart: true } do |f| %>
    <div class="row">
      <div class="field col-md-3">
        <%= f.label "Exhibition Name: " %><br>
        <%= f.text_field :name %>
      </div>
      <div class="field col-md-3">
        <%= f.label "Opening: " %><br>
        <%= f.date_field :opening %>
      </div>
      <div class="field col-md-3">
        <%= f.label "Closing: " %><br>
        <%= f.date_field :closing %>
      </div>
      <div class="field col-md-3">
        <%= f.label "Description: " %><br>
        <%= f.text_field :description %>
      </div>
    </div>
    <div class="row">
        <div class="field col-md-3">
        <%= f.label "Image: " %><br>
        <%= f.file_field :photo %>
      </div>
      <div class="field col-md-3">
        <%= f.label "Select Gallery:" %><br>
        <%= f.collection_select :gallery_id, Gallery.all, :id, :name, class: "form-control" %> <br>
        <%= link_to("Or Add New Gallery", new_gallery_path) %><br>
      </div>
      <%= f.fields_for :artists do |artist_form| %>
      <div class="field col-md-3">
        <%= artist_form.label "Artist: " %><br>
        <%= artist_form.text_field :name %>
      </div>
      <% end %>
    </div>
    <br>
    <div class="row">
      <div class="col-md-2">
        <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
          Add Info
        <% end %>
      </div>
      <div class="col-md-2">
        <%= link_to 'Back', exhibitions_path, class:"btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
