<div id="exhibitions" class="container">
<h1 id="exhibit-head">Exhibitions in Los Angeles</h1>

  <div id="exhibition-container" class="container">

<% @exhibitions.each do |exhibition| %>
<div id="<%=exhibition.name%>">
<h3 class="exhibition-name"><%= exhibition.name %></h3>

    <div  class="row display-container">
      <div class="col-xs-6 col-md-4">
         <%=image_tag(exhibition.image)%>
      </div>

    <div class="col-xs-6 col-md-4">
      <table>
          <tr><%= exhibition.gallery.name %></tr><br>
          <tr id="<%=exhibition.artist.name%>"><%= exhibition.artist.name %></tr><br>
          <tr></tr><br>
      </table>
    </div>

    <div class="col-xs-6 col-md-4">
      <table id="opening-closing">
          <tr><%= "Opening: #{exhibition.opening}" %></tr><br>
          <tr><%= "Closing: #{exhibition.closing}" %></tr><br>
          <tr></tr><br>
      </table>
    </div>
    </div>
    </div>
          <% end %>
  </div>
<hr>

</div>
