<!DOCTYPE html>
<html>
<head>
  <title>Artday</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/">ARTDAY</a>
  <a href=""></a>
  <a href=""></a>
  <a href="/exhibitions">Exhibitions</a>
  <a href="/galleries">Galleries</a>
  <a href="/artists">Artists</a>
  <a href=""></a>
  <a href=""></a>
  <p class="login-logout">
  <% if current_user %>
    <%= link_to 'Add Event', new_exhibition_path %>
    <%= link_to 'Log Out', logout_path, method: :delete %>
  <% else %>
    <%= link_to 'Log In', login_path %>
  <!--    link_to 'Sign Up', new_user_path %> -->
  <% end %>
  </p>
</div>


<div class="container">
<span onclick="openNav()"><%=image_tag("hamburger.jpg", class: "hamburger")%></span></span>
</div>

<div id="main">

 <%= yield %>

</div>












</body>
</html>
